p.caption {
  color: #00425B;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.inline-figure {
  border: none !important;
}


.figure {
  border: none !important;
  margin:  1.5rem -0.5rem 1rem -0.5rem;
  padding: 1.5rem    0    1rem      1rem;
}

.sidebar li.book-part {
  font-weight: bolder;
  font-size: 1.0rem;
}

.sidebar h2 {
    font-weight: bolder;
    font-size: 1.1rem;
}

.header-section-number {
    color: #00425B;
    font-weight: bolder;
}

.sidebar h1 {
    font-size: 1.2rem;
    font-weight: bolder;
}


.datatables {
    font-size: 12px;
}