body {
  width: 100vw;
  height: 100vh;
  color: rgb(255, 255, 255);
  background-color: rgb(208, 208, 209);
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: 5vh 95vh;
}

.top_header {
  grid-row: 1;
  grid-column: 1/11;
  background-color: rgb(0, 1, 34);
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  font-size: 2vh;

}

.dash_window {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  grid-row: 2;
  grid-column: 1/3;
  padding: 5px;
  margin: 5px;

}

.map_window {
  grid-row: 2;
  grid-column: 3/11;
  width: 100%;
}

.small-caption {
	font-size: small;
	font-style: italic;
}


#sites-filter {
height: 240px;
width: 200%;
visibility: hidden;
}

.site-item {
width: 100%;
padding: 12px;
text-align: center;
vertical-align: baseline;
cursor: pointer;
height: 40px;
}

.site-item:focus {
background-color: dimgrey;
}

.site-item:hover {
background-color: dimgrey;
}

.active {
background-color: lightblue;
}

#layerToggle {
top: 80px;
right: 20px;
position: absolute;
z-index: 99;
background-color: white;
border-radius: 8px;
padding: 10px;
opacity: 0.90;
}

.material-icons {
  font-size: 2.3vw;
}

.btnholder {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
}

.btn1 {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  margin: 0.1vw;
  padding: 2px 4px; /* Some padding */
  /* font-size: 16px; Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.btn1:hover {
  margin: 0.3vw;
  background-color: rgba(61, 145, 255, 0.74);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.h1 {
  float: middle;
}

.icon {
  float: left;
  /* display: inline-block; */
  width: 5vh;
  height: 5vh;
  overflow: hidden;

}
